.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.header .header-image {
  width: 100%;
  max-width: 100%;
  padding: 0 0 10px;
}
.header .header-image .desktop {
  display: none;
}
.header .header-image img {
  margin: 0 auto;
  display: block;
  height: 100%;
  max-height: 130px;
  width: 100%;
  max-width: max-content;
}
.header .header-title {
  text-align: center;
  padding: 20px 0;
}
.header .header-title h1 {
  padding: 0 0px 10px 0;
}

@media only screen and (min-width: 768px) {
  .header .header-title {
    text-align: center;
    padding: 0px 0;
  }
  .header .header-image .desktop {
    display: block;
  }
  .header .header-image .mobile {
    display: none;
  }
  .header .header-title h1 {
    padding: 0 0px 20px 0;
  }
  .header .header-image {
    padding: 0 0 30px;
  }
}
