.heroPage {
  padding: 50px 100px;
  background-color: var(--background-light);
}

.heroPage .header {
  padding: 0 0 50px;
}
.heroPage .header .content {
  display: flex;
}
.heroPage .header .content .logo {
  display: block;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 250px;
  margin: auto;
}
.heroPage .header .content .logo img {
  display: block;
  width: 100%;
  max-width: max-content;
}
