.heroInfo {
  display: block;
  width: 100%;
  max-width: 100%;
}
.heroInfo .details {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-bottom: 50px;
}

.heroInfo .details .description {
  display: block;
  width: 100%;
  max-width: 100%;
}
.heroInfo .details .description h1 {
  font-size: 30px;
}

.heroInfo .details .description .nameIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.heroInfo .details .description .nameIcon svg {
  width: 30px;
  height: 30px;
}
.heroInfo .details .description .nameIcon.largeName h1 {
  font-size: 26px;
}

.heroInfo .details .description .about {
  color: var(--color-lightGray);
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 50px;
}

.heroInfo .details .description .shows-rating {
  display: flex;
  flex-direction: column;
}
.heroInfo .details .description .shows-rating span {
  color: var(--color-lightBlack);
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
}
.heroInfo .details .description .shows-rating span p {
  color: var(--color-lightBlack);
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}
.heroInfo .details .description .shows-rating .comicSeries {
  display: inline-flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
  gap: 60px;
}

.heroInfo .details .description .shows-rating .comicSeries .comics,
.heroInfo .details .description .shows-rating .comicSeries .movies {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.heroInfo .details .description .shows-rating .comicSeries .comics div,
.heroInfo .details .description .shows-rating .comicSeries .movies div {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.heroInfo .details .description .shows-rating .rating {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 15px;
}
.heroInfo .details .description .shows-rating .rating .content {
  display: inline-flex;
  gap: 2px;
}
.heroInfo .details .description .shows-rating .rating .content .star {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
}
.heroInfo .details .description .shows-rating .rating .content .star::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/icons/star/star.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}
.heroInfo
  .details
  .description
  .shows-rating
  .rating
  .content
  .star.checked::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/icons/star/starChecked.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}
.heroInfo .details .description .shows-rating .rating .content .star input {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.heroInfo .details .thumbnail {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-inline:auto;
  margin-bottom: 30px;
}
.heroInfo .details .thumbnail img {
  display: block;
  width: 100%;
  max-width: max-content;
  margin: auto;
}

.heroInfo .latest-releases {
  padding-bottom: 50px;
  display: block;
  width: 100%;
  max-width: 100%;
}
.heroInfo .latest-releases h2 {
  color: var(--color-lightBlack);
  font-size: 22px;
  font-weight: 600;
  padding: 0 0 40px 0;
}
.heroInfo .latest-releases .releases {
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
}
.heroInfo .latest-releases .releases article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 150px;
  margin: 0 auto auto;
}
.heroInfo .latest-releases .releases article img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.heroInfo .latest-releases .releases article p {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .heroInfo .latest-releases {
    padding-bottom: 100px;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .heroInfo .details .description .nameIcon svg{
    height: 40px;
    width: 40px;
  }
  .heroInfo .details .description h1{
    font-size: 36px;
  }
  .heroInfo .details .description .nameIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .heroInfo .details .description .about {
    color: var(--color-lightGray);
    text-align: left;
    line-height: 38px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 50px;
  }
  .heroInfo .latest-releases .releases article p{
    color: var(--color-lightBlack);
    font-size: 18px;
    font-weight: 600;
  }
  .heroInfo .latest-releases .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 80px;
  }
  .heroInfo .details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 150px;
  }
  .heroInfo .details .description {
    display: block;
    width: 100%;
    max-width: 350px;
  }
  .heroInfo .details .thumbnail {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-left: 150px;
    margin-bottom: auto;
  }
  .heroInfo .latest-releases .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 80px;
  }
  .heroInfo .latest-releases .releases article {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 130px;
  }
  .heroInfo .latest-releases .releases article img {
    display: block;
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 170px;
  }

  .heroInfo .details .description .shows-rating span {
    color: var(--color-lightBlack);
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
  }
  .heroInfo .details .description .shows-rating span p {
    color: var(--color-lightBlack);
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
  }
  .heroInfo .details .description .shows-rating .comicSeries {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
  .heroInfo .details .description .shows-rating .rating {
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 40px;
    gap: 15px;
  }
  .heroInfo .details .description .shows-rating .rating .content .star {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
  }
  .heroInfo .details .description .shows-rating .rating .content .star::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../assets/icons/star/star.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
  }
  .heroInfo
    .details
    .description
    .shows-rating
    .rating
    .content
    .star.checked::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../assets/icons/star/starChecked.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
  }
  .heroInfo .latest-releases h2 {
    color: var(--color-lightBlack);
    font-size: 22px;
    font-weight: 600;
    padding: 0 0 80px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .heroInfo .details .thumbnail{
    margin-left: 60px;
  }
  .heroInfo .latest-releases .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 80px;
  }
}
