.search {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.search .content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 0 auto;
  height: 100%;
  padding: 10px 20px;
  max-height: max-content;
  display: inline-flex !important;
  flex-direction: row !important;
  border-radius: 35px;
  background-color: #fff;
}

.search .content .iconButton {
  background: none;
  border: none;
}
.search .content .iconButton span {
  background: none;
  border: none;
  display: block;
}
.search .content .iconButton span svg {
  width: 20px;
  height: 20px;
}
.search .content input {
  font-size: 12px;
  margin-left: 15px;
}
.search .content input::placeholder {
  color: var(--color-lightGray);
  font-size: 12px;
}

/* home page */
.search.home {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  padding: 10px 10px;
  max-height: max-content;
  display: inline-flex;
  border-radius: 35px;
  padding: 20px 0 40px;
}
.search.home .content {
  background-color: var(--background-lightRed);
  max-width: 90%;
}
.search.home .content input::placeholder {
  color: var(--background-red);
  opacity: 60%;
  font-size: 12px;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .search {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .search.home {
    padding: 50px 0 90px;
  }
  .search.home .content {
    width: 100%;
    margin-inline: auto;
    max-width: calc(100% - 90px);
    height: 100%;
    padding: 15px 25px;
    max-height: max-content;
    display: inline-flex;
    border-radius: 35px;
  }
  .search .content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 70px;
    height: 100%;
    padding: 10px 25px;
    max-height: max-content;
    display: inline-flex;
    border-radius: 35px;
    background-color: #fff;
  }
  .search .content input {
    color: var(--background-red);
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
  }
  .search .content input::placeholder {
    font-size: 15px;
  }
  .search.home .content input::placeholder {
    color: var(--background-red);
    opacity: 60%;
    font-size: 15px;
  }
  .search .content .iconButton span svg {
    width: 20px;
    height: 20px;
    margin-top: 3px;
  }
  .search.home .content .iconButton span svg {
    width: 25px;
    height: auto;
  }
}
