.switch {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 0;
}
.switch .content {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch .content .totalHeroes p {
  color: var(--color-lightGray);
  font-weight: 500;
  font-size: 14px;
}
.switch .content .switchOptions {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  max-width: max-content;
}
.switch .content .switchOptions .nameOption {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  min-width: max-content;
}

.switch .content .switchOptions .nameOption .heroIcon {
  display: block;
  height: 100%;
  max-height: 25px;
  width: 100%;
  max-width: max-content;
}
.switch .content .switchOptions .nameOption p,
.switch .content .switchOptions .favoriteOption .favoriteIcon p,
.switch .content .switchOptions.mobile p {
  color: var(--background-red);
  font-size: 15px;
  font-weight: 500;
  opacity: 60%;
}

.switch .content .switchOptions .switchButton {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 80px;
  height: 35px;
}

.switch .content .switchOptions .switchButton > input[type="checkbox"] {
  appearance: none;
  width: 80px;
  height: 40px;
  background-color: var(--color-lightGray);
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
}
.switch .content .switchOptions .switchButton > input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--background-red);
  border-radius: 50%;
  left: 10px;
  top: 8px;
  bottom: 0;
  transition: 0.3s;
  -webkit-box-shadow: 0px -8px 19px -1px rgba(250, 5, 5, 1);
  -moz-box-shadow: 0px -8px 19px -1px rgba(250, 5, 5, 1);
  box-shadow: 0px -8px 19px -1px rgba(250, 5, 5, 1);
}

.switch
  .content
  .switchOptions
  .switchButton
  > input[type="checkbox"]:checked:before {
  left: 42px;
  -webkit-box-shadow: 0px 8px 19px -1px rgba(250, 5, 5, 1);
  -moz-box-shadow: 0px 8px 19px -1px rgba(250, 5, 5, 1);
  box-shadow: 0px 8px 19px -1px rgba(250, 5, 5, 1);
}

.switch .content .switchOptions .favoriteOption {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: max-content;
}

.switch .content .switchOptions .favoriteOption .favoriteIcon {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: max-content;
}
.switch .content .switchOptions .favoriteOption .favoriteIcon span {
  display: block;
  width: 100%;
  max-width: 25px;
  height: 100%;
  max-height: 25px;
}
.switch .content .switchOptions .favoriteOption .favoriteIcon span svg {
  width: 100%;
  height: 100%;
  min-width: 25px;
  min-height: 25px;
}

.switch .content .switchOptions.desktop {
  display: none;
}
.switch .content .switchOptions.mobile {
  display: inline-flex;
  gap: 10px;
}

.switch .content .switchOptions.mobile select {
  background-color: var(--background-lightRed);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--background-red);
  border-radius: 5px;
  font-size: 12px;
  color: var(--background-red);
  appearance: none;
  opacity: 60%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.switch .content .switchOptions.mobile select:focus {
  outline: none;
  border: 1px solid var(--background-red);
}
.switch .content .switchOptions.mobile select option {
  font-size: 12px;
  color: var(--background-red);
}

@media only screen and (min-width: 768px) {
  .switch .content .switchOptions.desktop {
    display: flex;
  }
  .switch .content .switchOptions.mobile {
    display: none;
  }
  .switch .content .totalHeroes p {
    font-size: 18px;
  }
}
