:root {
  --color-black: #000;
  --color-lightBlack: #404040;
  --color-gray: #8c8c8c;
  --color-lightGray: #b9b9b9;
  --background-red: #ff1510;
  --background-lightRed: #fdecec;
  --background-light: #e7f6e7;
}
